*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rejouice Headline';
}
html, body{
    height: 100%;
    width: 100%;
}
#loader{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: fixed;
    z-index: 99;
}
#loader h3{
    color: #fff;
    font-size: 2vw;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: #dadada;
    position: relative;
    overflow: hidden;
}
#page1 > video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
}
#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
#cursor_reel{
    height: 7vw;
    width: 7vw;
    background-color: #ff5f38;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    transform: translate(-50%, -50%);
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
}
nav h3{
    font-size: 1.4vw;
    font-weight: 300;
    /* font-family: 'NB International Pro Book'; */
}
nav h4{
    font-size: 1.4vw;
    font-weight: 300;
}
#page1-content > h1 > span{
     font-size: 27vw;
     font-weight: 100;
     line-height: 20vw;
}


#page2{
    height: 100vh;
    width: 100vw;
    background-color: #FAF8F3;
    position: relative;
    overflow: hidden;
    padding: 5.5vw 2vw;
}
.page2ContentContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2 > .page2ContentContainer>h2{
    font-family: 'NB International Pro Book';
    font-weight: 500;
    font-size: 1.7vw;
}
.page2_hr{
    margin-top: 1rem;
}
.page2header2{
    font-size: 4.5vw;
    font-weight: normal;
}

#page3{
    min-height: 100vh;
    width: 100vw;
    background-color: #FAF8F3;
    padding: 4vw 2vw;
    position: relative;
    overflow: hidden;
}
#page3-top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page3-top > h4{
    font-size: 1vw;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
#page3-top > h4>span{
    background-color: black;
    color: white;
    font-size: 0.7vw;
    padding: 6px 6px;
    border-radius: 50px;
}
#page3-top > h1 > span{
    font-family: 'NB International Pro Book';
    font-size: 4vw;
    font-weight: 500;
    text-decoration: underline;
}
#page3-elems > h3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10vw;

}
#page3-elems h3>span{
    font-family: 'NB International Pro Book';
    font-size: 1.7vw;
    font-weight: 500;
}

#box{
    height: 70vh;
    width: 100%;
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.box1{
    height: 100%;
    width: 33%;
    position: relative;
}
.box1>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: all ease-in-out .5s;
    /* position: relative;
    overflow: hidden; */
}
.box1:hover img, .box2:hover img, .box3:hover img{
    opacity: 0;
}
.box1>video, .box2>video, .box3>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.box2{
    height: 100%;
    width: 33%;
    position: relative;
}
.box2>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: all ease-in-out .5s;
}
.box3{
    height: 100%;
    width: 33%;
    position: relative;
}
.box3>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: all ease-in-out .5s;
}

#page4{
    height: 75vh;
    width: 100vw;
    background-color: #FAF8F3;
    padding: 4vw 2vw;
}
#page4>hr{
    margin-top: 1rem;
}
#page4 > p > span{
    font-size: 1.2vw;
}
.page4header2{
    font-size: 4.2vw;
    font-weight: normal;
    margin-top: 1rem;
}
#page5{
    height: 90vh;
    width: 100vw;
    background-color: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
#page5 > video{
    height: 100%;
}
#page5 p{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 1.1vw;
}


#page6{
    height: 75vh;
    width: 100vw;
    background-color: #FAF8F3;
    padding: 4vw 2vw;
}
#page6>hr{
    margin-top: 1rem;
}
#page6 > p > span{
    font-size: 1.2vw;
}
.page6header2{
    font-size: 4.2vw;
    font-weight: normal;
    margin-top: 1rem;
}

#page7{
    height: 90vh;
    width: 100vw;
    background-color: #FAF8F3;
}
#page7 > h1{
    /* padding: 1vw 0; */
    padding: 4vw 2vw;
    font-size: 9vw;
    font-weight: 400;
    /* border-bottom: 1px solid #dadada; */
}
#page7>hr{
    margin: 4vw 2vw;
    margin-top: -4%;
}

/* swiper code starts here */



.swiper {
    width: 100vw;
    height: 45vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all linear 0.5s;
  }
  .swiper-slide img:hover{
    scale: 1.3;
    object-fit: cover;
    filter: brightness(.5, 1, 10);
  }


/* swiper code ends here */


#page8{
    height: 50vh;
    width: 100vw;
    background-color: #FAF8F3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
#page8 > p {
    font-size: 1.2vw;
}
#page8 > h1 {
    font-size: 3.3vw;
    font-weight: 400;
    text-decoration: underline;
}
#page9{
    height: 110vh;
    width: 100vw;
    background-color: #000;
    padding: 2vw 2vw;
    color: #fff;
}

.page9boxContainer{
    /* background-color: #dadada; */
    display: flex;
}
.page9box1{
    height: 50vh;
    width: 20vw;
    /* background-color: #ff5f38; */
}
.page9box1 > h3{
    font-size: 2vw;
    font-weight: 400;
}
.page9box1 > button{
    padding: 18px 30px;
    border: 1px solid #fff;
    color: #fff;
    background: #000;
    border-radius: 10px;
    font-size: 1.1vw;
    margin-top: 1vw;
    transition: all 0.5s;
}
.page9box1 > button:hover{
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.page9box1>p{
    padding-top: 15vw;
    font-size: 1.1vw;
}
.page9box2{
    height: 50vh;
    width: 50vw;
    /* background-color: #6e6360; */
}
.page9box3{
    height: 50vh;
    width: 15vw;
    /* background-color: #522216; */
}
.page9box3>a{
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 1.1vw;
    padding-top: 5px;
    transition: all 1s;
}
.page9box3>a:hover{
    text-decoration: underline;
    transition: all 1s;
}
.page9box3>p{
    margin-top: 13vw;
    font-size: 1.1vw;
    transition: all ease-in 1s;
}
.page9box3>p:hover{
    text-decoration: underline;
}
.page9box4{
    height: 50vh;
    width: 15vw;
    /* background-color: #ff5f38; */
}
.page9box4>a{
    display: flex;
    text-decoration: none;
    color: #fff;
    padding-top: 5px;
    transition: all ease-out 1s;
}
.page9box4>a:hover{
    text-decoration: underline;
}
.page9box4>p{
    margin-top: 16.7vw;
    font-size: 1.1vw;
    transition: all ease-out 1s;
}
.page9box4>p:hover{
    text-decoration: underline;
}
.footer_heading{
    font-size: 27vw;
    font-weight: 500;
}